<section class="section" id="calculator">
  <div class="container">
    <div class="calculator-teaser">
      <h2 class="title is-4 mb-3">How much does contractor churn actually cost your team?</h2>
      <p class="has-text-grey-dark mb-3">
        A calculator to estimate the hidden cost of losing context every time you swap contractors.
      </p>
      <p class="is-size-7 has-text-grey">Coming soon</p>
    </div>
  </div>
</section>
